.app {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
  height: 100%;
  width: 100%;

  /*display: grid;
  place-content: center;*/
}

.canvas-cont {
  //width: 80%;
  //height: 80%;

  width: 80vmin;
  height: 80vmin;

  overflow: hidden;
  border-radius: 4rem;

  outline: min(2rem, 3vw) solid white;
  //position: relative;
}